/* Header */
.cherry-color {
  color: #d35266;
}

.bg-cherry-color {
  background-color: #d35266;
}

.light-gray {
  color: #888;
}

.bg-light-gray {
  background-color: #888;
}

.dark-gray {
  color: #383838;
}

.bg-dark-gray {
  background-color: #383838;
}

.text-font-type {
  font-family: 'GothamPro', sans-serif;
}

.header-highlights {
  height: 400px;
  padding-top: 150px;
  background:
    linear-gradient(
      rgba(206, 82, 103, 0.952),
      rgba(206, 79, 106, 0.815)
    ),
    url(Img/library.jpg) no-repeat center / cover;
}

.header-highlights h1 {
  font-size: 50px;
}

.bg-main {
  background-color: #f7f7f7;
}

#shop-icon {
  fill: #d35266;
}

.nav-links {
  display: inline;
}

.nav-links li {
  display: inline;
}

.card {
  background-color: white;
}

#right-icon img {
  width: 30px;
}

.card-big-text {
  font-size: 18px;
}

.card-small-text {
  font-size: 14px;
}

.card-sizing {
  margin-right: 5px;
}

@media (max-width: 767px) {
  .small-text {
    font-size: 12px;
  }

  #right-icon img {
    width: 20px;
  }

  .header-highlights {
    height: 450px;
  }

  .card-big-text {
    font-size: 14px;
  }

  .card-small-text {
    font-size: 12px;
  }

  .card-sizing {
    margin-right: 0;
  }
}

.no-change:hover {
  color: inherit;
  text-decoration: none;
}
